.nav {
  display: flex;
  justify-content: space-between;
  // border: 1px red dotted;
  max-width: 1155px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans";
  ul {
    display: flex;
    font-family: "Open Sans";
    margin-top: 20px;

    li {
      margin-left: 30px;
    }
  }
}
